{% extends "blog/base.html" %}
{% block postaction %}
    <a class="nav-item nav-link" href="{% url 'socials-create' %}">New Social</a>
{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom bm-4">Delete Post</legend>
                <h2>Are you sure you want to delete the social "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Confirm</button>
                <a class="btn btn-outline-secondary" href="{% url 'socials-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
