<!doctype html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>V.A.G Society</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block css %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'gallery/css/gallery.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block header %}
    {% endblock %}


    {% block customformat %}
    {% endblock %}
</head>

<body>

    {% for template in templates %}
      {% if template.template_picker == 'old_template' %}
        {% include 'blog/partials/old_base.html' %}
      {% endif %}
    {% endfor %}

    {% for template in templates %}
      {% if template.template_picker == 'new_template' %}
        <header>
            <nav>
                <div id="logo_preview" class="outside" style="background-image: linear-gradient(to right, #7030a0 10%, #333); width: 100%; height:10%;">
                <div style="float:right; background-color: purple" class="dropdown">
                    <button class="settings-tab">&#9881;</button>
                    <div class="dropdown-content">
                        {% if user.is_staff %}
                            {% block postaction %}{% endblock %}
                            <a style="font-size: 0.8vw;" class="tab seperator-top" href="#">Colour Scheme (Coming Soon!)</a>
                            <a style="font-size: 0.8vw;" class="tab" href="{% url 'template-change' template.id %}">HTML Template</a>
                        {% endif %}
                        <a style="font-size: 0.8vw;" class="tab" href="{% url 'changelog' %}">Change Log</a>
                        {% if user.is_authenticated %}
                            <a style="font-size: 0.8vw;" class="tab seperator-top" href="{% url 'profile' %}">{{user}} Profile</a>
                            <a style="font-size: 0.8vw;" class="tab" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a style="font-size: 0.8vw;" class="tab seperator-top" href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>

        {% include 'blog/partials/new_base.html' %}
      {% endif %}
    {% endfor %}



    {% block content %}
    {% endblock %}

</div> <!--content-->

</body>

</html>
