{% extends "blog/base.html" %}
{% block postaction %}
    <a class="nav-item nav-link tab" href="{% url 'event-create' %}">New Event</a>
{% endblock %}
{% block content %}
{% for template in templates %}
    {% if template.template_picker == 'new_template' %}
      <a href="{% url 'roll-event' %}"><article style="width:33.3%; color: white;" class="article-button active">
        <h2 class="article-tr-title">Events</h2>
      </article></a>
      <a href="{% url 'roll-year' %}"><article style="width:33.3%;" class="article-button">
        <h2 class="article-tr-title">Years</h2>
        </article></a>
      <a href="{% url 'roll-alltime' %}"><article style="width:33.3%;" class="article-button">
        <h2 class="article-tr-title">Highs and Lows</h2>
      </article></a>
      <div style="padding-top: 8vh;">
    {% endif %}
{% endfor %}
    {% for eventroll in events %}
      </div>
        <article class="media content-section">
            <div class="media-body">
                <div style="border: 8px solid black;">
                    <div style="border: 3px solid #b38f00; background-image: url('/static/images/wood.jpg'">
                        <h2 class="gold-text" style="text-align: center; padding-top:2vh;"><a class="article-title gold-text" href="{% url 'event-detail' eventroll.id %}">{{ eventroll.title}}</a></h2>

                        <p class="article-content gold-text">{{ eventroll.table|safe }}</p>

                    </div>
                </div>
            </div>
        </article>
      </div>
    {% endfor %}
{% endblock content %}
