{% extends "blog/base.html" %}
{% block postaction %}
{% load thumbnail %}
        <a style="font-size: 0.8vw;" class="nav-item nav-link tab" href="{% url 'post-create' %}">New Post</a>
{% endblock %}

{% block content%}
    {% for post in posts %}
        <article style="text-align: center;" class="media content-section">
          <div class="media-body">
            {% if template.template_picker == 'old_template' %}
                <h2 style="font-size: 1.7vw;"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            {% endif %}
            <p style="font-size: 1.3vw;" class="article-content">{{ post.content|safe }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
